@font-face {
    font-family: "TI logoso TFB";
    src: url(TIlogosoTFB.ttf);
}
html{
    color-scheme: dark;
}
#block {
    font-family: "TI logoso TFB";
    position: relative;
    height: 59px;
    width: 111px;
    z-index: 1;
    top: 200px;
}
div{
    text-align: center;
    font-size: 60px;
}
body{
    height: 0px;
}
#trail{
    position: absolute;
    background-color: red;
    width: 2px;
    height: 2px;
    margin: 0px;
}
canvas{
    position: absolute;
    background-color: #121212;
    margin: 0px;
    z-index: -1;
}
img{
    height: 0px;
}
#dropZone{
    background-color: black;
    width: 200px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    float: right;
    top: 0px;
}
